.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  text-align: center;
  background: black;
  color: white;
}
.wrapper > div {
  border: 1px solid black;
  border-radius: 45px;
}

.pad {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  background: #333;
}
.wrapper .display {
  grid-column: 1/3;
  grid-row: 1;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  border: none;
  font-size: 35px;
}
.discount {
  grid-column: 3;
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  background: #e9ab58;
}
.sale {
  margin-left: 15px;
  color: lawngreen;
}
.one {
  grid-column: 1;
  grid-row: 4;

}
.two {
  grid-column: 2;
  grid-row: 4;
}
.three {
  grid-column: 3;
  grid-row: 4;
}
.four {
  grid-column: 1;
  grid-row: 3;
}
.five {
  grid-column: 2;
  grid-row: 3;
}
.six {
  grid-column: 3;
  grid-row: 3;
}
.seven {
  grid-column: 1;
  grid-row: 2;
}
.eight {
  grid-column: 2;
  grid-row: 2;
}
.nine {
  grid-column: 3;
  grid-row: 2;
}
.AC {
  grid-column: 1;
  grid-row: 5;
}
.zero {
  grid-column: 2;
  grid-row: 5;
}
.delete {
  grid-column: 3;
  grid-row: 5;
}
